{% extends 'itineraires/base_logged.html' %}

{% block content %}

<h2>Mes sorties </h2>
<h3> Cliquer sur une sortie pour la modifier </h3>

{% if liste_Sortie %}
<table>
    <thead>
        <tr>
            <th>itinéraire</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
      {% for sortie in liste_Sortie %}
        <tr>
            <td>  {{ sortie.sortie_itineraire}}  </td>
            <td>{{ sortie.date}}</td>
            <td> <a href= {% url 'itineraires:detail_sortie' sortie.id %}> detail  </a> </td>
            <td> <a href= {%url 'itineraires:modifierSortie' sortie.id %}> modifier </a>  </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}


Pas de sorties enregistrés

{% endif %}

{% endblock  %}
