{% extends 'itineraires/base_logged.html' %}


{% block content %}

<h3>détail de l'intinéraire : {{itineraire.title}}  </h3>

<table border="1">
    <thead>
        <tr>
            <th>Départ</th>
            <th>Altitude de départ</th>
            <th>Altitude min</th>
            <th>Altitude max</th>
            <th>denivelé positif</th>
            <th>dénivelé négatif</th>
            <th>durée estimée</th>
            <th>difficulté</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{itineraire.start}}</td>
            <td>{{itineraire.altitude_start}}</td>
            <td>{{itineraire.altitude_min}}</td>
            <td>{{itineraire.altitude_max}}</td>
            <td>{{itineraire.denivele_positif}}</td>
            <td>{{itineraire.denivele_negatif}}</td>
            <td>{{itineraire.duree_estimee}}</td>
            <td>{{itineraire.difficulte}}</td>
        </tr>
    </tbody>
</table>
<h4> description </h4>

<p> {{itineraire.description}} </p>




<h3>Liste des sorties disponibles:  </h3>

{% if liste_Sortie %}
<table>
    <thead>
        <tr>
            <th>Liste de sorties</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for sortie in liste_Sortie %}
            <td>{{ sortie.user }}</td>
            <td>{{sortie.date}}</td>
            <td> <a href= {% url 'itineraires:detail_sortie' sortie.id %}> detail   </a> </td>
            {% endfor %}
        </tr>
    </tbody>
</table>


{% else %}


Pas de sorties renseignés

{% endif %}

{% endblock %}

